*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(226, 202, 202);
}
#patient{
    border: 3px solid rgb(231, 197, 185);
    border-radius: 5px;
    max-width: 300px;
    max-height: 500px;
    margin: auto;
    background-image: linear-gradient(rgb(235, 185, 22),white);
}
input[type="text"],[type="number"],[type="date"]{
    background-color: antiquewhite;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid rgb(4, 4, 77);

}
input[type="text"]:focus{
    background-color: rgb(241, 203, 157);
}
input[type="age"]:focus{
    background-color: rgb(241, 203, 157);
}
.btn {
  padding: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.ministry{
    width: 30px ;
    border-radius: 50%;
}